<!DOCTYPE html>
<html>
  <head>
    <title>Average Account Analysis!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <link href="/css/nvd3.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/js/d3.js"></script>
    <script type="text/javascript" src="/js/nv.d3.min.js"></script>
  </head>
  <body>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <div class="container">
      <% if current_user %>Signed in as <a href="http://www.twitter.com/<%= current_user.screen_name %>"><%= current_user.screen_name %></a>. <a href="/logout">Sign out?</a><% end %>
      <%= yield %>
      <div class="footer">
        <p><a href="http://www.devingaffney.com">Devin</a> <a href="http://en.wikipedia.org/wiki/<%= Time.now.year %>"><%= Time.now.year %></a> | <a href="/latest_stats">Latest Stats</a> | <a href="/about">About</a> | <a href="/stats">All Stats</a> | <a href="/longitudinal">Longitudinal Stats</a></p>
      </div>
    </div>
  </body>
</html>
