<% if data && !data.empty? && data[:time_zones] && !data[:time_zones].empty? %>
<div class="vis timezone_treemap">
  <h3>What Languages do people use on Twitter?</h3>
  <div class="timezone_hover_text">Hover over a block to see more details</div>
</div>
<style>

div.timezone_hover_text{
  font-weight:bold;
}
form {
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

</style>
<script>
function position() {
  this.style("left", function(d) { return d.x + "px"; })
      .style("top", function(d) { return d.y + "px"; })
      .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
      .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
}
var json = {children: [
<% i=0;data[:time_zones].each_pair do |time_zone, count| %>
  <% i+=1 %>{
    <% binding.pry %>
  "hoverName": "<%= time_zone == "nil" ? "Not Reported" : time_zone %>: <%= ((count.to_f/data[:time_zones].values.sum)*100).round(2) %>% (Around <%= ((count.to_f/data[:time_zones].values.sum)*data[:total]).to_i.delimited %> Users)", 
  "name": "<%= time_zone == "nil" ? "Not Reported" : time_zone %>", 
  "value": <%= count.to_f/data[:time_zones].values.sum %>
  }<%if i != data[:time_zones].length %>,<% end %>
<% end %>
]};

var margin = {top: 0, right: 0, bottom: 0, left: 0},
    width = $('div.span6').width() - margin.left - margin.right,
    height = $('div.span6').width() - margin.top - margin.bottom;

var color = d3.scale.category20c();

var treemap = d3.layout.treemap()
    .size([width, height])
    .sticky(true)
    .value(function(d) { return d.value; });

var div = d3.select(".timezone_treemap").append("div")
    .style("position", "relative")
    .style("width", (width + margin.left + margin.right) + "px")
    .style("height", (height + margin.top + margin.bottom) + "px")
    .style("left", margin.left + "px")
    .style("top", margin.top + "px");

var node = div.datum(json).selectAll(".node")
    .data(treemap.nodes)
  .enter().append("div")
    .attr("class", "node")
    .call(position)
    .style("background", function(d) { return color(d.name); })
    .text(function(d) { return d.name; })
    .on("mouseover", function(d) { $(".timezone_hover_text").text(d.hoverName); });

function position() {
  this.style("left", function(d) { return d.x + "px"; })
      .style("top", function(d) { return d.y + "px"; })
      .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
      .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
}
</script>
<% end %>