<% if current_user %>Signed in as <a href="http://www.twitter.com/<%= current_user.screen_name %>"><%= current_user.screen_name %></a>. <a href="/logout">Sign out?</a><% end %>
<div class="jumbotron">
  <h1>How do you stack up?</h1>
  <p class="lead">Click the button below to find out how you compare against an average user on Twitter!</p>
  <% if current_user %>
    <a class="btn btn-large btn-success login" href="/compare/<%= current_user.screen_name %>" rel="tooltip" data-placement="bottom" title="Clicking this button will sign you in to Twitter, and we will use your account to help our goal of analyzing the Twitter population.">Compare me!</a>
  <% else %>
    <a class="btn btn-large btn-success login" href="/login" rel="tooltip" data-placement="bottom" title="Clicking this button will sign you in to Twitter, and we will use your account to help our goal of analyzing the Twitter population.">Compare me!</a>
  <% end %>
</div>
<div class="footer">
  <p><a href="http://www.devingaffney.com">Devin</a> <a href="http://en.wikipedia.org/wiki/<%= Time.now.year %>"><%= Time.now.year %></a></p>
</div>
<script>
  jQuery(function ($) {
      $("a.login").tooltip()
  });
</script>