<div class="row">
  <div class="span12 divider">
    <h1>Stats from latest iteration</h1>
    
  </div>
  <div class="span6 divider">

  </div>
  <div class="span6 divider">
  </div>
</div>
<div class="row">
  <div class="span12 divider">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Minimum Value</th>
          <th>First Quartile</th>
          <th>Second Quartile</th>
          <th>Third Quartile</th>
          <th>Maximum</th>
          <th>Median</th>
          <th>Mode</th>
          <th>Mean</th>
          <th>Standard Deviation</th>
          <th>Sum</th>
          <th>Sample Variance</th>
          <th>Elbow</th>
          <th>Number of Observations</th>
        </tr>
      </thead>
      <tbody>
        <% [:statuses_count, :friends_count, :followers_count, :listed_count].each do |attribute| %>
        <tr>
          <td><%= @results[attribute][:min].to_i.delimited %></td>
          <td><%= @results[attribute][:first_quartile].to_i.delimited %></td>
          <td><%= @results[attribute][:second_quartile].to_i.delimited %></td>
          <td><%= @results[attribute][:third_quartile].to_i.delimited %></td>
          <td><%= @results[attribute][:max].to_i.delimited %></td>
          <td><%= @results[attribute][:median].to_i.delimited %></td>
          <td><%= @results[attribute][:mode].to_i.delimited %></td>
          <td><%= @results[attribute][:mean].to_i.delimited %></td>
          <td><%= @results[attribute][:standard_deviation].to_i.delimited %></td>
          <td><%= @results[attribute][:sum].to_i.delimited %></td>
          <td><%= @results[attribute][:sample_variance].to_i.delimited %></td>
          <td><%= @results[attribute][:elbow].to_i.delimited %></td>
          <td><%= @results[attribute][:n].to_i.delimited %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>