
<% if @results.empty? %>
<div class="row">
  <div class="span12 divider">
    <h1>Four oh four Longitudinal Data not found!</h1>
    <p>For some reason, this page has no good data. This is dumb, and I am dumb. I am sorry. Please take this gif in exchange.</p>
    <img src="http://images03.imikimi.com/image/1RJKa-10a-1.gif?height=400&scale=max&width=400"/>
  </div>
</div>
<% else %>
<div class="row">
  <div class="span12 divider">
    <h1>Longitudinal data <%= name_for_length_longitudinal params[:length] %></h1>
    <p>For this time window, we have a total of <%= @results.length %> possible datasets to compare across.</p>
    <h2>Executive Summary</h2>
    <p>Based on this time window, we expect the following statements to be true with an N of <%= @results.length %> samples:</p>
    <dl>
      <dt>Users</dt>
      <dd>There are approximately <b><%= @executive_summary[:estimated_population][:mean].to_i.delimited %> Users on Twitter</b> <i>(stdev=<%= @executive_summary[:estimated_population][:standard_deviation].to_i.delimited %>, N=<%= @executive_summary[:estimated_population][:n].to_i.delimited %>)</i>.</dd>
      <dd>Of these users, approximately <b><%= @executive_summary[:default_profile][:mean].to_i.delimited %> Users on Twitter have modified their profile's appearance in some way</b> <i>(stdev=<%= @executive_summary[:default_profile][:standard_deviation].to_i.delimited %>, N=<%= @executive_summary[:default_profile][:n].to_i.delimited %>)</i>.</dd>
      <dd>Approximately <b><%= @executive_summary[:invalid_accounts][:mean].to_i.delimited %> Users on Twitter are non-users</b>; these accounts seem to be nil'ed out entirely from casual observation of these records <i>(stdev=<%= @executive_summary[:invalid_accounts][:standard_deviation].to_i.delimited %>, N=<%= @executive_summary[:invalid_accounts][:n].to_i.delimited %>)</i>.</dd>
      <dd>On average, a normal Twitter User has posted <b><%= @executive_summary[:statuses_count][:mean].to_i.delimited %> statuses</b> <i>(stdev=<%= @executive_summary[:statuses_count][:standard_deviation].to_f.round(3) %>, N=<%= @executive_summary[:statuses_count][:n].to_i.delimited %>)</i>.</dd>
      <dd>On average, a normal Twitter User has <b><%= @executive_summary[:followers_count][:mean].to_i.delimited %> followers</b> <i>(stdev=<%= @executive_summary[:followers_count][:standard_deviation].to_f.round(3) %>, N=<%= @executive_summary[:followers_count][:n].to_i.delimited %>)</i>.</dd>
      <dd>On average, a normal Twitter User has <b><%= @executive_summary[:friends_count][:mean].to_i.delimited %> friends</b> <i>(stdev=<%= @executive_summary[:friends_count][:standard_deviation].to_f.round(3) %>, N=<%= @executive_summary[:friends_count][:n].to_i.delimited %>)</i>.</dd>
      <dd>On average, a normal Twitter User has <b><%= @executive_summary[:favourites_count][:mean].to_i.delimited %> favorite Tweets</b> <i>(stdev=<%= @executive_summary[:favourites_count][:standard_deviation].to_f.round(3) %>, N=<%= @executive_summary[:favourites_count][:n].to_i.delimited %>)</i>.</dd>
      <dd>On average, a normal Twitter User appears on <b><%= @executive_summary[:listed_count][:mean].to_i.delimited %> lists</b> <i>(stdev=<%= @executive_summary[:listed_count][:standard_deviation].to_f.round(3) %>, N=<%= @executive_summary[:listed_count][:n].to_i.delimited %>)</i>.</dd>
      <dt>Tweets</dt>
      <dd>We expect that there are somewhere on the order of <b><%= @executive_summary[:total_statuses][:mean].to_i.delimited %> total Tweets</b> ever posted <i>(stdev=<%= @executive_summary[:total_statuses][:standard_deviation].to_i.delimited %>, N=<%= @executive_summary[:total_statuses][:n].to_i.delimited %>)</i>.</dd>
      <dt>Friendships</dt>
      <dd>We expect that there are somewhere on the order of <b><%= @executive_summary[:total_friends][:mean].to_i.delimited %> total Tweets</b> ever posted <i>(stdev=<%= @executive_summary[:total_friends][:standard_deviation].to_i.delimited %>, N=<%= @executive_summary[:total_friends][:n].to_i.delimited %>)</i>.</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>User Activity</h2>    
  </div>
</div>
<div class="row">
  <% ["statuses", "friends", "followers", "favourites"].each_with_index do |name, i| %>
    <div class="span6">
      <h2><%= name.pluralize.capitalize %></h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>How many users on Twitter...</th>
            <th>Number of users</th>
            <th>Standard Deviation</th>
            <th>Number of observations</th>
          </tr>
        </thead>
        <tbody>
          <% keys = @executive_summary.keys.select{|k| k.to_s.include?(name) && k.to_s.include?("at_least")};keys.each do |key| %>
          <tr>
            <td>Have <%= key.to_s.split("_").join(" ") %></td>
            <td><%= @executive_summary[key][:mean].to_i.delimited %></td>
            <td>+/-<%= @executive_summary[key][:standard_deviation].to_i.delimited %></td>
            <td><%= @executive_summary[key][:n] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>    
    </div>
    <% if i == 1 %>
      </div>
      <div class="row">
    <% end %>
  <% end %>
</div>
<div class="row">
  <div class="span12">
    <h2>Number Values</h2>
  </div>
</div>
<div class="row">
  <% [:followers_count, :statuses_count, :favourites_count, :friends_count, :listed_count].each do |attribute| %>
  <div class="span12">
    <%= partial "/charts/time_series_quantifiable", :locals => {data: {:dataset => @results, :name => attribute}} %>      
  </div>
  <% end %>
  <div class="span12">
    <%= partial "/summary/partials/time_zone_longitudinal", :locals => {:total => @results.values.collect{|v| v["total"]}.compact.average, :population_estimate => @executive_summary[:estimated_population][:mean]} %>      
  </div>
  <div class="span12">
    <%= partial "/summary/partials/language_longitudinal", :locals => {:total => @results.values.collect{|v| v["total"]}.compact.average, :population_estimate => @executive_summary[:estimated_population][:mean]} %>      
  </div>
</div>
<% end %>