<% if @results.empty? %>
<div class="row">
  <div class="span12 divider">
    <h1>Four oh four Summary not found!</h1>
    <p>For some reason, the run did not generate a report at the end. This is dumb, and I am dumb. I am sorry. Please take this gif in exchange.</p>
    <img src="http://images03.imikimi.com/image/1RJKa-10a-1.gif?height=400&scale=max&width=400"/>
  </div>
</div>

<% else %>
<div class="row">
  <div class="span12 divider">
    <h1>Stats from latest iteration (completed at <%= @results[:finished_at].strftime("%b %-d %Y, at %l:%M:%S %P (%Z)") %>)</h1>
    <h2>Estimated users on Twitter: <%= @results[:estimated_population].to_i.delimited %></h2>
  </div>
</div>
<div class="row">
  <div class="span12 divider">
    <h2>Quantifiable Attributes</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Minimum Value</th>
          <th>First Quartile</th>
          <th>Second Quartile</th>
          <th>Third Quartile</th>
          <th>Maximum</th>
          <th>Median</th>
          <th>Mode</th>
          <th>Mean</th>
          <th>Standard Deviation</th>
          <th>Sum</th>
          <th>Sample Variance</th>
          <th>Elbow</th>
          <th>Number of Observations</th>
        </tr>
      </thead>
      <tbody>
        <% [:followers_count, :statuses_count, :favourites_count, :friends_count, :listed_count].each do |attribute| %>
        <tr>
          <td><%= attribute.to_s.split("_").collect(&:capitalize).join(" ") %></td>
          <td><%= @results[attribute][:min].to_i.delimited rescue "n/a"%></td>
          <td><%= @results[attribute][:first_quartile].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:second_quartile].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:third_quartile].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:max].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:median].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:mode].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:mean].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:standard_deviation].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:sum].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:sample_variance].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:elbow].to_i.delimited rescue "n/a" %></td>
          <td><%= @results[attribute][:n].to_i.delimited rescue "n/a" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Internal Data Results</h2>
  </div>
</div>
<div class="row">
  <div class="span6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Model</th>
          <th>Number of objects reviewed this iteration</th>
        </tr>
      </thead>
      <tbody>
        <% {:tweet => "Tweets", :user => "Users", :url => "URL Entities", :usermention => "User Mentions", :hashtag => "Hashtag uses", :boundingbox => "Bounding Boxes", :coordinate => "Coordinates", :geo => "Geo data", :place => "Places", :placeattribute => "Place Attributes", :medium => "Medium", :size => "Size"}.each_pair do |attribute, title| %>
        <tr>
          <td><b><%= title %></b></td>
          <td><%= @results[:counts][attribute.to_s].to_i.delimited rescue "n/a" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span6">
      <b>Number of Twitter users I attempted to grab:</b> <%= @results.expected.to_i.delimited %><br />    
      <b>Number of Twitter users I actually got back:</b> <%= @results.total.to_i.delimited %><br />    
      <b>Number of weird Twitter users encountered:</b> <%= @results.invalid_accounts.to_i.delimited %><br />
      <b>Number of users that were invalid for some other reason:</b> <%= @results.error_count.to_i.delimited %><br />
      <%= partial "/charts/default_profile", :locals => {data: @results.default_profile} %>  
  </div>
</div>
<div class="row">
  <div class="span6">
    <%= partial "/charts/language_bubble", :locals => {data: {:languages => @results.lang, :total => @results[:estimated_population]}} %>      
  </div>
  <div class="span6">
    <%= partial "/charts/timezone_treemap", :locals => {data: {:time_zones => @results.time_zone, :total => @results[:estimated_population]}} %>      
  </div>
</div>
<div class="row">
  <div class="span12">
    <% if @results[:users_who_helped] %>
    <i>This report lovingly generated with the help of the following Twitter users: <%= @results[:users_who_helped].collect{|screen_name| "<a href=\"http://www.twitter.com/#{screen_name}\" target=\"_blank\">#{screen_name}</a>"}.join(", ") %></i>
    <% end %>
  </div>
</div>
<% end %>