<div class="row">
  <div class="span12 divider">
    <h1><%= @post.title %></h1>
    <%= @post.content %>
    <p>Written by <%= @post.account.screen_name %> on <%= @post.created_at.strftime("%b %-d %Y, at %l:%M:%S %P (%Z)") %> (last updated <%= @post.updated_at.strftime("%b %-d %Y, at %l:%M:%S %P (%Z)") %>)</p>
  </div>
</div>
